.title {
    text-align: center;
    margin-bottom: 0.2em;
}

.subtitle {
    text-align: center;
    font-size: medium;
    font-weight: bold;
    margin-top: 0;
}

h2,
h2,
h3 {
    line-height: 1.2;
}

h2 {
    font-style: italic;
    font-size: 18px;
}

a:link,
a:visited {
    color: blue;
}

body {
    line-height: 1.6;
    font-size: 18px;
    padding: 0 10px;
    margin: 60px auto;
    max-width: 1000px;
}

div#home {
    line-height: 1.6;
    font-size: 18px;
    padding: 0 10px;
    margin: 60px auto;
    max-width: 700px;
}

div#article {
    line-height: 1.6;
    font-size: 18px;
    padding: 0 10px;
    margin: 60px auto;
    max-width: 1000px;
}

div#menu {
    margin-top: -30px;
    text-align: center;
    word-spacing: 50px;
    /* max-width: 1000px; */
    /* text-align: justify; */
    /* text-justify: inter-word; */
}

h2,
h2,
h3 {
    line-height: 1.2;
}

h2 {
    font-style: italic;
    font-size: 18px;
}

a:link,
a:visited {
    color: blue;
}

code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 1.125rem;
    line-height: 1.6;
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 3px;
    max-width:   100%;
    white-space: normal !important;   
}

div#footer {
    text-align: center;
    max-width: 1000px;
}
